<div class="container"><div class="section"><div class="row">

    {{#list}}
    <div class="col l4 m6 s12 movie-list-holder pointer" data-id="{{id}}">
        <div class="card medium hoverable">
            <div class="card-image">
                <div class="movie-mark">{{vote_average}}/10</div>
                <img src="https://image.tmdb.org/t/p/w396{{backdrop_path}}">
                <span class="card-title">{{title}}</span>
            </div>
        </div>
    </div>
    {{/list}}

</div></div></div>
