<div class="container"><div class="section"><div class="row movie">

    <div class="col l5 m12">
        <div class="pos-rlt center-block">
            <img class="responsive-img " src="https://image.tmdb.org/t/p/w396{{backdrop_path}}">
            <div class="mark">{{vote_average}}/10</div>
        </div>
    </div>
    <div class="col l7">
        <div class="center">
            <h3 class="left-align">
                {{title}}
            </h3>
        </div>
        <p class="m-b-xs">
            <b>Продолжительность:</b>
            {{runtime}} минут
        </p>
        <p class="m-b-xs">
            <b>Дата выхода:</b>
            {{release_date}}
        </p>
        <p class="m-b-xs">
            <b>Жанр:</b>
            {{#genres}}
                {{name}}&nbsp;
            {{/genres}}</p>
        <p class="m-b-xs">
        <p class="m-b-xs">
            <b>Описание:</b>
            {{overview}}
        </p>
        <p>
            <b>Актеры:</b>

            {{#credits.cast}}
            <span class="actor pos-rlt inline" data-id="{{id}}">
                <img src="https://image.tmdb.org/t/p/w396{{profile_path}}">
                <span class="text-u-l pointer name  ">{{name}}</span>{{^last}}, {{/last}}
            </span>
            {{/credits.cast}}

        </p>
    </div>

</div></div></div>

