<div class="container"><div class="section"><div class="row">
    {{#list}}
    <div class="col m6">
        <div class="card medium">
            <div class="card-image">
                <img src="https://image.tmdb.org/t/p/w396{{backdrop_path}}">
                <span class="card-title">{{title}}</span>
            </div>
            <div class="card-content">
                <p>{{overview}}</p>
            </div>
            <div class="card-action">
                <a href="#">Ссылка здесь</a>
            </div>
        </div>
    </div>
    {{/list}}
</div></div></div>
